<div class="list row">
  <div class="col-md-12">
    <h4>Спосок груп</h4>
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Пошук"
        [(ngModel)]="title"
        (input)="searchTitle()"
      />
      <button type="submit" class="btn badge-success ml-2" (click)="editGroup()">Створити</button>
    </div>
  </div>

  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item border-0">
        <div class="row">
          <div class="col-md-4 font-weight-bold">Група</div>
        </div>
      </li>
    </ul>
  </div>

  <div class="col-md-12">
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let group of groups;"
      >
      <div class="row">
        <div class="col-md-4">
          {{ group.name }}
        </div>
        <div class="col text-right">
          <button (click)="editGroup(group.id)" class="btn p-0 pr-2"><img class="action-icon-25" src="assets/settings.svg"></button>
          <button (click)="deleteGroup(group.id)" class="btn p-0"><img class="action-icon-30" src="assets/delete-1.svg"></button>
        </div>
      </div>
        
      </li>
    </ul>

  </div>
</div>
