/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@ng-select/ng-select/themes/default.theme.css";

.action-icon-30 {
    width: 30px;
}
.action-icon-25 {
    width: 25px;
}

.edit-form {
    max-width: 400px;
    margin: auto;
}

.list {
    text-align: left;
    max-width: 750px;
    margin: auto;
  }